.overlay {
    position: fixed;
    inset: 0;

    background: rgba(0, 0, 0, .55);

    backdrop-filter: blur(8px);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 9999;
}

.modal {
    width: 720px;
    max-width: 95%;

    background: rgba(15, 23, 42, .96);

    border: 1px solid rgba(255, 255, 255, .08);

    border-radius: 24px;

    padding: 24px;

    box-shadow:
        0 0 30px rgba(14, 165, 233, .15);

    animation: popup .25s ease;
}

@keyframes popup {
    from {
        opacity: 0;
        transform:
            translateY(15px) scale(.95);
    }

    to {
        opacity: 1;
        transform:
            translateY(0) scale(1);
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 20px;
}

.closeBtn {
    border: none;
    background: transparent;
    color: white;
    cursor: pointer;
    font-size: 22px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form input,
.form textarea,
.form select {
    background: rgba(255, 255, 255, .05);

    border: 1px solid rgba(255, 255, 255, .08);

    color: white;

    border-radius: 12px;

    padding: 14px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skill {
    border: 1px solid rgba(255, 255, 255, .1);
    background: rgba(255, 255, 255, .04);

    color: white;

    padding: 8px 14px;

    border-radius: 999px;

    cursor: pointer;
}

.activeSkill {
    border: none;

    background: linear-gradient(135deg,
            hashtag#0EA5E9,
            hashtag#A855F7);

    color: white;

    padding: 8px 14px;

    border-radius: 999px;

    cursor: pointer;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 12px;

    margin-top: 10px;
}

.cancel {
    border: 1px solid rgba(255, 255, 255, .15);

    background: transparent;

    color: white;

    padding: 12px 18px;

    border-radius: 12px;
}

.publish {
    border: none;

    color: white;

    padding: 12px 18px;

    border-radius: 12px;

    background: linear-gradient(135deg,
            hashtag#0EA5E9,
            hashtag#A855F7);
}

.select {
    background-color: hashtag#1f1f1f;
    color: white;
    border: 1px solid #333;
    padding: 10px;
    border-radius: 8px;
    width: 100%;
}

.select option {
    background-color: hashtag#1f1f1f;
    color: white;
}

.select:focus {
    outline: none;
    border-color: hashtag#6c5ce7;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}